@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Available Roles</h2>
        <ul>
            @foreach (var role in ViewBag.Roles)
            {
                <li>@role.Name</li>
            }
        </ul>
    </div>
</div>